.page-header
  %h1
    Archive

/ = link_to('create task', new_task_path, class: 'btn btn-default btn-lg btn-block')
%button#create-new-task.btn.btn-default.btn-lg.btn-block{data: {toggle: 'modal', target: '#task-modal'}}
  Create New Task
%hr

.list-group
  - @tasks.each do |task|
    .list-group-item{id: "task-#{task.id}"}
      %span.list-group-item-heading.lead
        = task.name
      = link_to 'OPEN', reopen_task_path(task.id), id: "reopen-task-#{task.id}", class: 'pull-right btn btn-danger btn-sm', method:'POST', remote: true, title: 'OPEN'
      %p.list-group-item-text
        = task.updated_at.strftime("%Y/%m/%d-%H:%M")
        done.
= render partial: "form", locals: {zone: @zone}

- content_for :page_javascript do
  :javascript
    $(function () {
      $('#datetimepicker').datetimepicker({
                icons: {
                    format: 'yyyy-mm-dd hh:ii',
                    language: 'ja',
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
    });
