%div.page-header
  %h1
    My Task
%div
  %button#create-new-task.btn.btn-default.btn-lg.btn-block{data: {toggle: 'modal', target: '#task-modal'}}
    Create New Task
%hr

%div.list-group
  - @tasks.each do |task|
    %div.panel.panel-info{id: "task-#{task.id}"}
      %div.panel-heading
        %h3.panel-title
          %span.task-list-name
            = task.name
          = link_to '', edit_task_path(task.id), id: "edit-task-#{task.id}", class: 'pull-right fa fa-pencil-square-o', 'data-toggle' => 'modal', 'data-target' => '#task-modal', remote: true
      %div.panel-body
        %ul
          %li
            limit
            %ul
              %li.task-list-deadline
                - if task.deadline
                  = task.deadline.strftime("%Y/%m/%d %H:%M")
                - else
                  no limit
        = link_to 'Done', close_task_path(task), id: "close-task-#{task.id}",class: 'btn btn-success btn-md btn-block', method: 'POST', remote: true

= render partial: "form", locals: {zone: @zone}

- content_for :page_javascript do
  :javascript
    $(function () {
      $('#datetimepicker').datetimepicker({
                icons: {
                    format: 'yyyy-mm-dd hh:ii',
                    language: 'ja',
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
    });
