- now = Time.zone.now
.page-header
  %h1 Tasks#new

= form_for(@task) do |t|
  - if @task.errors.any?
    .alert.alert-danger
      %ul
        - @task.errors.full_messages.each do |msg|
          %li
            = msg

  .form-group.required
    = t.label :name, class: 'control-label'
    %span.control-label
      ( required )
    = t.text_field :name, class: 'form-control'
  .form-group
    = t.label :deadline, class: 'control-label'
    = t.text_field :deadline, id: 'datetimepicker', class: 'form-control', autocomplete: 'off'
  = t.submit 'create', class: 'btn btn-default'

- content_for :page_javascript do
  :javascript
    jQuery('#datetimepicker').datetimepicker();
