- now = Time.zone.now
%div.page-header
  %h1 Tasks#new
= form_for(@task) do |t|
  %div.form-group
    = t.label :name
    = t.text_field :name, class: 'form-control'
  %div.form-group
    = t.label :deadline
    = t.text_field :deadline, id: 'datetimepicker', class: 'form-control'
  = t.submit 'create', class: 'btn btn-default'
- content_for :page_javascript do
  :javascript
    jQuery('#datetimepicker').datetimepicker();
